<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="../img/snow.ico">
    <link rel="stylesheet" href="../css/style.css">
    <title>Posts</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="content">
            <!-- beginning of content -->
            <div id="content-flow">
                <% if (posts.length > 0) { %>
                    <% posts.forEach(post => { %>
                        <div class="post" onclick="location.href='/posts/<%= post.post_id %>'" style="cursor: pointer">
                            <div class="post-top">
                                <img src="<%= post.author_avatar_url %>" alt="avatar">
                                <p><%= helper.formatDate(post.post_date) %></p>
                            </div>
                            <% if (post.post_image_url !== null) { %>
                                <div class="post-image">
                                    <img src=<%= post.post_image_url %> alt="posted-image">
                                </div>
                            <% } %>
                            <% if (post.post_title !== null) { %>
                                <div class="post-title">
                                    <h3><%= post.post_title %></h3>
                                </div>
                            <% } %>
                            <% if (post.post_text !== null) { %>
                                <div class="post-comment">
                                    <p><%= post.post_text %></p>
                                </div>
                            <% } %>
                        </div>
                        <div class="button-container">
                            <div class="like-button">
                                <% if (!post.has_been_liked) { %>
                                    <button type="button" name="thumbs-up" class="addLike" data-idofpost="<%= post.post_id %>"></button>
                                <% } else { %>
                                    <button type="button" name="thumbs-up" class="active"></button>
                                <% } %>
                                <div class="numberOfLikes" class="delete" ><%= post.number_of_likes %></div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="error">
                        <div class="no-posts">
                            <h2>There are no posts at the moment. Check back later!</h2>
                            <img src="../img/missing.png" alt="missing">
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script>
        const updatereq = document.querySelector('button.addLike');
        updatereq.addEventListener('click', (e) => {
            const endpoint = `/${updatereq.dataset.idofpost}`;
            fetch(endpoint, {
                method: 'PUT'
            }).then(response => window.location.href = '/')
        });
    </script>
</body>
</html>