<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Posts</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="content">
            <!-- beginning of content -->
            <div id="content-flow">
                <% if (posts.length > 0) { %>
                    <% posts.forEach(post => { %>
                        <div class="post">
                            <div class="post-top">
                                <img src="<%= post.author_avatar_url %>" alt="avatar">
                                <p><%= helper.formatDate(post.post_date) %></p>
                            </div>
                            <% if (post.post_image_url !== null) { %>
                                <div class="post-image">
                                    <img src=<%= post.post_image_url %> alt="posted-image">
                                </div>
                            <% } %>
                            <% if (post.post_title !== null) { %>
                                <div class="post-title">
                                    <h3><%= post.post_title %></h3>
                                </div>
                            <% } %>
                            <% if (post.post_text !== null) { %>
                                <div class="post-comment">
                                    <p><%= post.post_text %></p>
                                </div>
                            <% } %>
                            <div class="like-button">
                                <button type="button" name="thumbs-up"></button>
                                <div class="numberOfLikes"><%= post.number_of_likes %></div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="post">
                        <div class="no-posts">
                            <h2>There are no posts at the moment. Check back later!</h2>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>